.aplince{
    margin-left: 348px;
}
.place_for_cards_of_market{
    margin-left: 200px;
}
.card_of_market{
    padding: 10px 0px;
    width: 346px;
    height: 179px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(27, 18, 78, 0.2) -49.17%, #0F0B38 90.11%);
    .img{
        position: relative;
        display: flex;
        align-items: center;
        h2{
            position: absolute;
            top: 10px;
            left: 35px;
            color: white;
            font-family: Open Sans;
            font-size: 30px;
        }
        p{
            color: white;
            font-family: Open Sans;
            font-size: 12px;
            line-height: 16.34px;
            text-align: left;
        }
    }
    .siple_flex{
        display: flex;
        align-items: center;
        gap: 10px;
        h2{
            font-family: Open Sans;
            font-size: 12px;
            line-height: 16.34px;
            text-align: left;
            color: #616A8B;
        }
    }
    .flex{
        display: flex;
        justify-content: space-between;
        h3{
            font-family: Open Sans;
            font-size: 19px;
            line-height: 25.87px;
            text-align: left;
            color: white;
        }
        .volume{
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
}
.active_simple{
    color: #FFFFFF;
}
.card_of_market{
    position: relative;
    .mycanvas{
        position: absolute;
        top: 47px;
        left: -25px;
        color: green($color: #09ec59);
    }
}